body{
    background-color: #734b6d;
}

.container {
    width: 80vw;
    height: 100vh;
    margin: auto;
}

.cfi {
    width: 50vw;
    height: 90vh;
}

.item{
    text-align: center;
}

